:root {
  --primary-color: #22A9E5;
  --secondary-color: #E55E22;
  --light-color: #E7F1FF;
  --gradient-color: linear-gradient(-225deg, #22A9E5 0%, #6BBBFF 48%, #E55E22 100%);
}


.Header-location-btn, .Header-search-btn {
  background-color: var(--primary-color)!important;
  border: 1px solid var(--secondary-color)!important; 
}

.Header-location-btn:hover, .Header-search-btn:hover {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--primary-color) !important;
}


.Header-date {
  background: var(--gradient-color);
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}
.Header-head {
  background-color: var(--light-color);
  width: 100vmax;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--light-color);
  display: flex;
  justify-content: space-center !important;
  align-items: center;
}

Form {
  margin-left: -50px;

}

h1 {
  font-size: 16px;
  line-height: 1.1;

}

.Header-logo-box {
  width: 110px;
  border: 3px solid var(--secondary-color);
  padding: 30px 5px 0px;
  background: var(--primary-color);
}

.Header-input {
  width: 300px;
}


h2 {
  font-size: 16px;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  color: var(--gradient);

} 


@media (max-width: 768px) {
  .Header-head {
    align-content: left;
    padding-left: 20px !important;
    padding-top: 10px;

  }

  Form {
    padding-top: 15px;
    margin-left: 0;
  }
  .Header-input {
    width: 240px;
  }

  .Header-date-container {
    width: 50%;
    padding-top: 15px;
  }

}

