ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.Weather-details {
  text-align: left;
  font-size: 20px;
}

.Weather-date-wrapper {
  width: 100vmax;
  height: 40px;
  align-items: center;

}


.card, .accordion {
  margin-top: 20px;
  max-width: 60%;
  background: transparent;
  border: 1px solid var(--secondary-color);
}

.accordion-item {
    background: transparent;
}

.card-header,  .accordion-button, .accordion-header {
background: var(--light-color);
border: 1px solid var(--secondary-color);
}

.accordion-button {
  color: var(--primary-color) !important;
  font-size: 22px;

}


.Weather-temp {
 line-height: 1.5;
}

.Weather-time, .Weather-city, .Weather-temp,
.Weather-temp, .Weather-description {
  color: #fff;
  font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.Weather-city, .Weather-description, .Weather-country {
  font-size: 22px;
  font-weight: 600;
}



.accordion-button {
  font-size: 22px;
  font-weight: 600;
}
.Weather-description .units a {
  color: var(--primary-color) !important;

}
.Weather-city,
.Weather-time, .Weather-country {
  color: var(--primary-color);
}


.Weather-time {
  font-size: 18px;
  font-weight: 500;
}

.Weather-temp {
  font-size: 80px;
  font-weight: 600;
}
.Weather-description {
  font-size: 25px;
  text-transform: capitalize;
  line-height: 1;
  text-align: right;
}

.Weather-temp-today-hi, .Weather-temp-today-lo {
  font-size: 22px;
  color: #fff;
}
.units, .units a {
  font-size: 22px;
  line-height: .9;
  color: #fff;
  
}

.units a {
  text-decoration: none;
  color: #fff;
}

.Weather-icon {
width: 150px;

}

.Weather-row {
  position: relative;
  top: -20px;

}

.Weather-details-item,
.Weather-forecast {
  background: var(--gradient-color);
  opacity: .9;
  color: #fff !important;
  font-size: 25px !important;
  border-bottom: 1px solid var(--light-color);
  padding: 5px;
}





@media (max-width: 1000px) {

  .card, .accordion {
    max-width: 95%;
  }

  
    .Weather-time {
      font-size: 16px;
      margin-left: 5px !important;
    }
}

@media (max-width: 760px) {

  .Weather-container {
    padding: 0;
    margin-left: 7px;;
    margin-top: -17px;
  }

    .card,
      .accordion {
        max-width: 100%;
   
     
      }

  .Weather-description, .Weather-details-item,
    .Weather-forecast {
    font-size: 20px !important;
    }

    .Weather-header {
    align-items: start !important;
    flex-direction: column;
    }

  }


