ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.Weather-details {
  text-align: left;
}

.Weather-date-wrapper {
  width: 100vmax;
  background: #61dafb;
  height: 40px;
  align-items: center;

}

.card {
  margin-top: 20px;
  max-width: 50%;
}

.card-header {
  background:#61dafb;
  
}

@media (max-width: 768px) {
  .card {
    max-width: 95%;

  }
}